{% if not request.args.get('ajax') %}
{% extends "layout.html" %}
{% endif %}
{% block body %}
{% if not request.args.get('ajax') %}
<h2>Recordings</h2>
{% endif %}
<ul class=episodes>
	{% for ep in episodes %}
	<li style="background-color: #{{ ep.seriescolor }};"><a href="{{ url_for('episode', id=ep.id) }}">
		<span><img src="{{ (ep.img.get('presentation/player+preview') or ep.img.get('presenter/player+preview') or [''])[0] }}" /></span>
		<div>
			<h3>{{ ep.title }}</h3>
			<p>{{ ', '.join(ep.creator) }}</p>
			{{ ep.seriestitle }}
		<div>
	</a></li>
	{% else %}
	<li><em>No videos</em></li>
	{% endfor %}
</ul>

{% if not request.args.get('ajax') %}
<ul class=pager>
	{% for p in pages %}
	<li>
	{% if activepage == p %}
	<a class=active href="{{ url_for('recordinglist', page=p) }}">{{ p }}</a>
	{%else%}
	<a href="{{ url_for('recordinglist', page=p) }}">{{ p }}</a>
	{%endif%}
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}
